{% extends "wagtailadmin/base.html" %}
{% load static %}
{% block titletag %}Timeline{% endblock %}
{% block bodyclass %}timeline{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
      #timeline {
        padding: 3rem;
        background: aliceblue;
        text-align: center;
      }
    </style>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'client.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const props = {className: 'greeting'};
        const element = React.createElement(Timeline, props);
        const container = document.querySelector('#timeline');
        ReactDOM.render(element, container);
      });
    </script>
{% endblock %}

{% block content %}
    <header class="merged nice-padding" role="banner">
        <div class="row row-flush">
            <div class="col9">
                <h1>Timeline</h1>
            </div>
        </div>
    </header>
    <div class="container">
      <div id="timeline">
        Timeline
      </div>
    </div>
{% endblock %}
