{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% include "base/include/header-hero.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if page.intro %}
                <p class="intro">{{ page.intro|richtext }}</p>
            {% endif %}
            {% if page.body %}
                {{ page.body }}
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 form-page">
      <form id="quickContact" action="{% pageurl page %}" class="row bg-white p-4" method="POST" role="form">
        {% csrf_token %}
        {% if form.subject.errors %}
          <ol role="alertdialog">
          {% for error in form.subject.errors %}
            <li role="alert"><strong>{{ error|escape }}</strong></li>
          {% endfor %}
          </ol>
        {% endif %}
        {% for fields, fieldset in form.get_fieldsets %}
          <fieldset class="col-md-6" id="{{ fieldset.id }}">
            {% if fieldset.label %}<legend>{{ fieldset.label }}</legend>{% endif %}
            {% if fieldset.help_text %}<p class="fieldset-help-text">{{ fieldset.help_text }}</p>{% endif %}
            {% for field in fields %}
              <div class="fieldWrapper" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                {{ field }}
                {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </fieldset>
        {% endfor %}
        <div class="col-12">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
