{% load i18n %}
{% load wagtailadmin_tags  %}

{% include "wagtailadmin/edit_handlers/inline_panel.html" %}

{% if self.dynamic_content %}
{% for item in self.dynamic_content %}
    <script type="text/django-form-template" id="id_{{ self.formset.prefix }}-{{ item.prefix }}-EMPTY_FORM_TEMPLATE">
    {% escapescript %}
    {% include "wagtailadmin/edit_handlers/inline_panel_child.html" with child=item.empty_child %}
    {% endescapescript %}
    </script>
{% endfor %}

<p class="add extra">
    {% for item in self.dynamic_content %}
        <button type="button" class="button button-secondary bicolor button--icon" id="id_{{ self.formset.prefix }}-{{ item.prefix }}-ADD">
            {% icon name="plus" wrapped=1 %}
            {% blocktrans with label=item.label|lower %}Add {{ label }} {% endblocktrans %}
        </button>
    {% endfor %}
</p>
{% endif %}