{% extends "modeladmin/index.html" %}
{% comment %} my-app/modeladmin/kanban.html {% endcomment %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jkanban@1.2.1/dist/jkanban.min.css">
    <style>
      .kanban-item .actions {
        visibility: visible;
      }
    </style>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/jkanban@1.2.1/dist/jkanban.min.js"></script>
  {{ kanban_options|json_script:"kanban-options" }}
  <script>
    // https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#json-script
    document.addEventListener('DOMContentLoaded', function() {
      // load the options from server
      var options = JSON.parse(document.getElementById('kanban-options').textContent);

      // build the kanban board
      var kanban = new jKanban(Object.assign({}, options));

      // ensure that the built in click event is not used
      document.querySelectorAll('.kanban-item-content').forEach(function(contentElement) {
        contentElement.addEventListener('click', function(event) {
          event.stopPropagation();
        });
      });

    });
  </script>
{% endblock %}

{% block result_list %}
  <div class="kanban-wrapper listing">
    <div id="{{ kanban_element_id }}"></div>
  </div>
{% endblock %}

{% block pagination %}
  {% comment %} empty - not applicable to kanban view {% endcomment %}
{% endblock %}