<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {{ object.title }}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <main>
            <h1>{{ object.title }}</h1>
            <p>{{ object.description }}</p>
            <h2>Start</h2>
            <p>{{ object.start }}</p>
            <h2>Steps</h2>
            <p>{{ object.steps }}</p>
        </main>
    </body>
</html>
