<style>
    .collapsible .title-wrapper {
        box-sizing: border-box;
        cursor: pointer;
        height: 40px;
        background: #fcf2f2;
        color: #200200;
        padding: .9em 0 .9em 5em;
        font-size: .95em;
        margin: 0;
        line-height: 1.5em;
        font-weight: 400;
    }

    .collapsible .content {
        padding: 0 3rem;
    }

    .collapsible p {
        padding-top: 1rem;
    }

    .collapsible.collapsed .content {
        display: none;
    }

    .collapsible .title-wrapper::before {
        content: "▼";
    }

    .collapsible.collapsed .title-wrapper::before {
        content: "▲";
    }
</style>
<script>
document.addEventListener('wagtail:stimulus-init', function() {
    // see bakerydemo/ui/wagtail_hooks.py for where this event is fired

    class Hello extends Controller {
      static targets = [ "name" ];
      static values = { label: { default: '', type: String }, replace: { default: false, type: Boolean } };

      connect() {
          console.log('stimulus', this.element);
      }
    }

    Stimulus.register("hello", Hello);

    class Hello2 extends Hello {
        static targets = [ ...Hello.targets, 'other' ];

        connect() {
          console.log('stimulus 2', { element: this.element, label: this.labelValue });

          if (this.replaceValue) {
            this.element.innerText = this.labelValue;
          }
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        console.log('DOMContentLoaded - registering replacement');
        Stimulus.register("hello", Hello2);
    });
    

    Stimulus.register('keyboard-shortcut', class extends Controller {
        static targets = [ 'element' ];
        static values = { command: { default: '', type: String } };

        connect() {
          // allow for single attribute use or for declaring a separate element
          // could be enhanced to update a 'global' register of keyboard shortcuts
          // best to use something like key-js or mousetrap if we actually do this
          const target = this.hasElementTarget ? this.elementTarget : this.element;
          this.keyboardListener = (event) => {
              if (event.key === this.commandValue) {
                  this.elementTarget.click(event);
              }
          };
          document.addEventListener('keyup', this.keyboardListener);
        }

        disconnect() {
            document.removeEventListener('keyup', this.keyboardListener);
        }
    });

    Stimulus.register("collapsible", class extends Controller {
      static classes = [ "collapsed" ];
      static targets = [ "content", "title" ];
      static values = { collapsed: { default: false, type: Boolean }};

      connect() {
          // set up variables
          this.contentId = `${this.element.id || 'random-id-generated'}-content`;
          this.collapsedClassDefaulted = this.hasCollapsedClass ? this.collapsedClass: 'collapsed';

          // set up aria attributes
          this.element.setAttribute('aria-expanded', !this.collapsedValue);
          this.contentTarget.setAttribute('id', this.contentId);
          this.titleTarget.setAttribute('aria-controls', `#${this.contentId}`);
      }

      onAnimationComplete() {
          // 
      }

      collapsedValueChanged() {
          console.log('collapsed value changed');
      }

      toggle(event) {
        const collapsedClass = this.collapsedClassDefaulted;

        // toggle attributes
        this.collapsedValue = !this.collapsedValue;
        this.element.setAttribute('aria-expanded', !this.collapsedValue);

        // animations
        !this.collapsedValue && this.element.classList.remove(collapsedClass);
        const keyframes = { opacity: this.collapsedValue ? [1, 0] : [0, 1] };
        const animation = this.contentTarget.animate(keyframes, { duration: 500, easing: 'ease-out', fill: 'forwards' });
        animation.onfinish = () => {
            this.collapsedValue && this.element.classList.add(collapsedClass);
            this.onAnimationComplete();
        };
      }
    });

    /**
     * Purpose is to validate the behaviour of a controller that renders a React element.
     * That React element will also re-render when the 'values' are changed.
     * Also test the rendering of another controller item within the React tree.
     */
    class ReactTest extends Controller {
        static values = {
            data: { default: {}, type: Object },
            label: { default: 'Label', type: String, }
        };

        connect() {
            this.render();
        }

        dataValueChanged() {
            this.render();
        }

        labelValueChanged() {
            this.render();
        }

        render() {
            const data = this.dataValue;
            const { createElement } = window.React;
            const element = createElement('div', {
                children: [
                    createElement('strong', { children: `${this.labelValue}: ` , key: 'b' }),
                    createElement('span', {
                        'data-controller': "hello",
                        'data-hello-replace-value': 'true',
                        'data-hello-label-value': data.someVar,
                        children: `${data.someVar} (React)`,
                        // key: 'a', using a fixed key will mean that re-renders will be React children
                        key: data.someVar || 'a', // using a dynamic key will 're-mount' when the thing changes which will re-run the controller
                    }),
                ],
                className: 'react-injected'
            });
            ReactDOM.render(element, this.element);
        }
    }

    Stimulus.register("react-test", ReactTest);

    /**
     * Purpose is to validate the behaviour of template tags that themselves contain other controllers
     * Plus see how template wrangling can look.
     */
    class TodoController extends Controller {

        static targets = [ 'addButton', 'items', 'newItemInput', 'template' ];

        connect() {
            // ensure the button disabled state gets in sync on load
            this.updateInput();
        }

        add() {
            const newItem = this.newItemInputTarget.value;
            if (!newItem) return;
            const newTodoItem = this.templateTarget.content.firstElementChild.cloneNode(true);
            newTodoItem.innerText = newItem;
            this.itemsTarget.appendChild(newTodoItem);
            this.newItemInputTarget.value = ''; // reset input
            this.updateInput(); // ensure the button disabled state gets in sync
        }

        updateInput() {
            // toggle the 'disabled' state of the add button when input added
            if (this.newItemInputTarget.value) {
                this.addButtonTarget.removeAttribute('disabled');
            } else {
                this.addButtonTarget.setAttribute('disabled','');
            }
        }

    }

    Stimulus.register("todo", TodoController);
});
</script>
<section class="panel">
    <h2>Hello world</h2>
    <div data-controller="hello"><span data-hello-target="other">Hello - second controller registered</span></div>
    <h2>Collapsible</h2>
    <section class="collapsible" data-controller="collapsible keyboard-shortcut" data-collapsible-collapsed-value="false" data-keyboard-shortcut-command-value="o">
        <h3 class="title-wrapper" data-collapsible-target="title" data-action="click->collapsible#toggle" data-keyboard-shortcut-target="element">About Stimulus JS</h3>
        <div class="content" data-collapsible-target="content">
            <p>Stimulus is a JavaScript framework with modest ambitions. It doesn’t seek to take over your entire front-end—in fact, it’s not concerned with rendering HTML at all. Instead, it’s designed to augment your HTML with just enough behavior to make it shine.</p>
            <section class="collapsible" data-controller="collapsible keyboard-shortcut" data-collapsible-collapsed-value="false" data-keyboard-shortcut-command-value="o">
                <h2 class="title-wrapper" data-collapsible-target="title" data-action="click->collapsible#toggle" data-keyboard-shortcut-target="element">About Stimulus JS</h2>
                <div class="content" data-collapsible-target="content">
                    <p>Stimulus is a JavaScript framework with modest ambitions. It doesn’t seek to take over your entire front-end—in fact, it’s not concerned with rendering HTML at all. Instead, it’s designed to augment your HTML with just enough behavior to make it shine.</p>
                </div>
            </section>
        </div>
    </section>
    <h3>React</h3>
    <div data-controller="react-test" data-react-test-data-value='{"someVar":"foo"}' data-react-test-label-value="Label supplied"></div>
    <h3>Todo</h3>
    <div data-controller="todo">
        <input type="text" placeholder="...check the mail" data-todo-target="newItemInput" data-action="todo#updateInput">
        <button class="button button-small" data-action="todo#add" data-todo-target="addButton" type="button" disabled>Add item</button>
        <ul data-todo-target="items">
            <li>Get milk</li>
            <li>Use a template tag</li>
        </ul>
        <template data-todo-target="template">
            <li data-controller="hello" data-hello-label-value="todo"></li>
        </template>
    </div>
</section>