<style>
    .collapsible .title-wrapper {
        box-sizing: border-box;
        cursor: pointer;
        height: 40px;
        background: #fcf2f2;
        color: #200200;
        padding: .9em 0 .9em 5em;
        font-size: .95em;
        margin: 0;
        line-height: 1.5em;
        font-weight: 400;
    }

    .collapsible .title-wrapper::before {
        content: "▼";
    }

    .collapsible.collapsed .title-wrapper::before {
        content: "▲";
    }
</style>
<script type="module">
    import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js";
    window.Stimulus = Application.start();

    class Hello extends Controller {
      static targets = [ "name" ];

      connect() {
          console.log('stimulus', this.element);
      }
    }

    Stimulus.register("hello", Hello);

    class Hello2 extends Hello {
        static targets = [ ...Hello.targets, 'other' ];

        connect() {
          console.log('stimulus 2', this.element);
      }
    }

    Stimulus.register("hello", Hello2);

    Stimulus.register("collapsible", class extends Controller {
      static classes = [ "collapsed" ];
      static targets = [ "content", "title" ];
      static values = { collapsed: { default: false, type: Boolean }};

      connect() {
          // set up variables
          this.contentId = `${this.element.id || 'random-id-generated'}-content`;
          this.collapsedClassDefaulted = this.hasCollapsedClass ? this.collapsedClass: 'collapsed';

          // set up aria attributes
          this.element.setAttribute('aria-expanded', !this.collapsedValue);
          this.contentTarget.setAttribute('id', this.contentId);
          this.titleTarget.setAttribute('aria-controls', `#${this.contentId}`);
      }

      onAnimationComplete() {
          // 
      }

      toggle(event) {
        const collapsedClass = this.collapsedClassDefaulted;

        // toggle attributes
        this.collapsedValue = !this.collapsedValue;
        this.collapsedValue ? this.element.classList.add(collapsedClass) : this.element.classList.remove(collapsedClass);
        this.element.setAttribute('aria-expanded', !this.collapsedValue);

        // animations
        if (!this.collapsedValue) this.contentTarget.style.display = 'initial';
        const keyframes = { opacity: this.collapsedValue ? [1, 0] : [0, 1] };
        const animation = this.contentTarget.animate(keyframes, { duration: 500, easing: 'ease-out', fill: 'forwards' });
        animation.onfinish = () => {
            this.onAnimationComplete();
            if (this.collapsedValue) this.contentTarget.style.display = 'none';
        };
      }
    });
</script>
<section class="panel">
    <div data-controller="hello"><span data-hello-target="other"></span></div>
    <section class="collapsible" data-controller="collapsible" data-collapsible-collapsed-value="false">
        <h2 class="title-wrapper" data-collapsible-target="title" data-action="click->collapsible#toggle">About Stimulus JS</h2>
        <div class="content" data-collapsible-target="content">
            <p style="margin-top: 4rem;">Stimulus is a JavaScript framework with modest ambitions. It doesn’t seek to take over your entire front-end—in fact, it’s not concerned with rendering HTML at all. Instead, it’s designed to augment your HTML with just enough behavior to make it shine.</p>
        </div>
    </section>
</section>